<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="nameAdresFrom" value="ГКУ КК Ейская РЦБ УСО" />
        <add key="adressFrom" value="a.kadantsev@mtsr.krasnodar.ru" />
        <add key="textBody" value="ГКУ КК &quot;Ейская РЦБ УСО&quot;" />
        <add key="server" value="m.krasnodar.ru" />
        <add key="login" value="MTSR/a.kadantsev" />
        <add key="pass" value="dfsdf454g$$3" />
        <add key="folderOut" value="out" />
        <add key="timeSleep" value="3000" />
        <add key="addressMask" value="*@*" />
        <add key="port" value="465" />
        <add key="AddTextToTitle" value="Отправить: " />
    </appSettings>
</configuration>